<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>восстановить пароль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='fpass.js') }}" defer></script>
</head>
<body>
    <div class="form-container">
        <h2>восстановить пароль</h2>
        <form id="fpassForm">
            <input type="email" id="email" name="eamil" placeholder="Введите свой email" required>
            <button type="submit">Отправить</button>
            <p>Есть аккаунт? <a href="/login">Вернуться назад</a></p>


        </form>
        <div id="errorMessage" class="error"></div>
        <div id="successMessage" class="success"></div>
    </div>
</body>
</html>
