<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>360° Панорама</title>
    <link rel="stylesheet" href="/static/pannellum.css">
    <script src="/static/pannellum.js"></script>
    <script src="/static/libpannellum.js"></script>
    <style>
        #panorama {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="panorama"></div>
    <script>
        pannellum.viewer('panorama', {
            "type": "equirectangular",
            "panorama": "/static/img/home.jpg", // Тестовое изображение
            "autoLoad": true,
            "showZoomCtrl": true
        });
    </script>
</body>

</html>