body {
    font-family: Arial, sans-serif;
    background-color: #eae0d5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #ccc5b9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #D2B48C;
    border-radius: 3px;
}

button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #D2B48C;
    border-radius: 5px;
}

button {
    background-color: #1a659e;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #254e70;
}

p {
    color: black;
}

a {
    position: relative;
    color: #1a659e;
    /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/

}

a:hover {
    transition: color 0.3s ease;
    /*задаём время анимации*/
    color: #00253e;
}

a:after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #00253e;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

a:hover:after,
a:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.error {
    color: red;
}

.success {
    color: green;
}